body{
    background: rgb(252, 239, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input {
  padding: 0;
}
.msg {
  padding: 9px;
  padding-left: 15px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}
.error{
  color: red;
  background: rgb(248, 201, 201);
}
.success{
  color: rgb(60, 255, 0);
  background: rgb(212, 250, 212);
}
.smaller {
  font-size: 14px;
}
.msg:empty{
  padding: 0px;
  border: none;
}

.main-container {
  width: 50%;

margin: 0 auto;
margin-top:100px;


}
.main-container .login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30%;
}
.centered {
  text-align: center;
}

.main-container form {
 
  height: 100%;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 9px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.main-container h2 {
  text-align: center;
}
.main-container form .form-control {
  width: 99%;
  height: 40px;
  background: white;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding-left: 5px;
}

.main-container .button {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background:#09a101;
  color: white;
}
.main-container .button:hover {
  background:#0ab401;
}
.main-container .button-secondary {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background:#0066ff;
  color: white;
}
.main-container .button:hover {
  background:#1b76ff;
}



/*TABLE*/

.users-container{
  width: 70%;

margin: 0 auto;
margin-top:100px;
}

#users {
border-collapse: collapse;
margin: 0 auto;
width: 100%;
margin-top: 10px;
}

#users td, #users th {
border: 1px solid #ddd;
padding: 8px;

text-align: center;
}
#users td{
height: 30px;
}
#users tr{
  background: white;
}
#users tr:hover {background-color: rgb(212, 212, 212);}

#users th {
padding-top: 12px;
padding-bottom: 12px;
color: white;
background-color: #3b3b3b;
}
.btn{
margin: 2px;
border: none;
color: white;
border-radius: 4px;
padding: 6px;
text-align: center;
text-decoration: none;
}
.btn-delete{
background-color:red;

}
.btn-edit{
background-color:#1472D8;
}
.btn-warning{
background-color:#d6b628;
}
.btn-success{
background-color:#24B11D;
}
.ff { 
font-size: 200px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.nav-top{
  height: 40px;
  background: #3b3b3b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-top .welcome{
  float: left;
  color:white;
  padding: 10px;
}
.nav-top .options{
float: right;
padding: 10px;
margin-right: 20px;
}
.nav-top .options a {
  color:white;
  text-decoration:  none;
  margin-right: 3px;
}
.nav-top .options a:hover {
  text-decoration:  underline;
}
.footer{ 

 width: 100%;
 text-align: center;
bottom: 0;
position: absolute;
}
